body {
	color: rgb(60, 60, 60);
}

.title {
	font-weight: bold;
	font-size: 30;
	text-align: center;
}

.container {
	width: 100%;
}

.stack {
	text-align: center;
}

.clickScore {
	border-style: solid;
	border-width: .5em;
	border-color: rgba(243, 224, 211, .6);
	color: rgb(64, 61, 59);
	font-size: 30px;
	margin: 0 3em 0 3em;
}



/*
 *
 * CAT LIST
 *
 */
#catList__figure {
	width: 25%;
	float: left;
	margin-bottom: 1em;
	background: none
	;
}

#catContainer {

}

#catList {
	width: 150px;
}

/*
 *
 * CLICKER CAT
 *
 */
#cat__figure {
	width: 75%;
	overflow: hidden;
	margin-bottom: 1em;
	background: none;
}

#name {
	padding-left: 30px;
}

#cat__img {
	max-height: 250px;
}

#catChat{
	font-style: bold;
	font-size: 15px;
	margin: .5em;
}

#clickCount {

}

