.container {
	width: 100%;
	text-align: center;
}

#cat__image {
	width: 300px;
}

#cat__chat {
	font-style: bold;
	font-size: 15px;
	margin: .5em;
}

#click__score {
	border-style: solid;
	border-width: .5em;
	border-color: rgba(243, 224, 211, .6);
	color: rgb(64, 61, 59);
	font-size: 30px;
	margin: 0 3em 0 3em;
}

#click__count {

}